
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
    
}
p{
    color: blue;
    line-height: 1.2;
    animation-name: cambio-color;
    animation-duration: 10s;
    animation-iteration-count: 5;
   
}
body{
    font-size: medium;
    font-weight: 300;
    font-family: fantasy;
    font-style: italic;
    background-color:white;
}
.caja{
    background-color: white;
    border: 2px solid black;
    height: 18rem;
    width: 18rem;
    padding: 5px;
    margin: 5px 5px 3px;
    text-align: center;
    overflow: hidden;
    flex-flow: row;
    flex-wrap: wrap;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cajitaimg{
    width: 30%;
    height: 30%;
}
li{
    display: inline;
    padding: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    margin: 0 auto;
    height: 100%;
}

.grid-inicio{
    display: grid;
    grid-auto-columns: repeat(4, 1fr);
    grid-template-rows: 15vh 30vh 30vh 15vh;
    grid-gap: 1rem;
    
    
    
}
header{
    display: flex;
    grid-area: 1/1/1/1;
   
    
}
nav{
    grid-area: 1/2/1/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: brown;
    height: 50px;
    
    
    
}
main{
    grid-area: 2/1/2/2;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
aside{ 
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
section{
    grid-area: 3/1/3/2;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
footer{
    grid-area: 4/2/4/3;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

h1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;

}
.logo{
    max-width: 130px;
    max-height: 130px;
    padding: 1rem;
}
nav a:hover{
    color: darkred;
    border-bottom:2px white;
}
img:hover {
    border-radius: 50%;
}
@media screen and (min-width: 360px) and (max-width: 920px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 15vh 15vh 60vh 10vh;
        grid-gap: 1rem;
        grid-template-areas: 
            ". header ."
            "nav nav nav"
            "main main"
            "footer footer"  
        }
        }
@keyframes rotacion {
            50%{
                transform:rotate(90deg)
            }
            100%{
                transform:rotate(180deg)
            }
            
}
@keyframes cambio-color{
    25%{ 
        color: red;
    }
    60%{
        color: green;
    }
    100%{
        color: orange;
    }
}
