/*IMAGENES*/
img {
    max-width: 100%;
    max-height: 100%;
}
.main3 img{
    width: 200px;
    height: 200px;
}

.cajitaimg{
    width: 30%;
    height: 30%;
}

.logo{
        max-width: 100px;
        max-height: 100px;
        align-self: center;
        justify-content: center;
        right: 30%;
    &:hover{
        box-shadow: 2px 4px 15px 0 #3f1a0a;
        border-radius: 50%;
        scale: 2,2 ;
        border-bottom: none;
        ;
      }
}
.fondo{
    background-image: url(../images/marmol.jpg);
    @include mix-img (center center, cover, no repeat, cover, fixed)
}
.restaurante{
    background-image: url(../images/brandi.jpg);
    border-radius: 5px;
    @include mix-img (center center, cover, no repeat, cover, scroll)

}
.banner{
<<<<<<< HEAD
    background-image: url(images/fideos.jpg);
=======
    background-image: url(../images/fideos.jpg);
>>>>>>> rama-2
    @include mix-img(center center, cover, no repeat, cover, fixed);
    width: 100%;
    z-index: 0;
}
.banner2{
    background-image: url(../images/masa.jpg);
    @include mix-img(center center, cover, no repeat, cover, fixed);
}
.pizza{
    background-image: url(../images/pizza3.webp);
    @include mix-img(center center, cover, no repeat, cover, scroll)
}
.fondo2{
    background-image: url(../images/pasta.jpg);
    @include mix-img(center center, cover, no repeat, cover, fixed)
}
.donas{
    background-image: url(../images/donas.jpeg);
    @include mix-img(center center, cover, no repeat, cover, scroll)
}
.croissant{
    background-image: url(../images/croissant.jpeg);
    @include mix-img(center center, cover, no repeat, cover, scroll)
}
.tikka{
    background-image: url(../images/tikka-masala.jpg);
    @include mix-img(center center, cover, no repeat, cover, scroll)
}
.tacos{
    background-image: url(../images/tacos.jpg);
    @include mix-img(center center, cover, no repeat, cover, scroll)
}

.paises{
    @include mix-img(center center, cover, no repeat, cover, fixed);
    width: 53.5%;
    height: 60%;
}
.rolls{
    background-image: url(../images/rolls.jpg);
    @include mix-img(center center, cover, no repeat, cover, scroll);
}
.pizzero{
    background-image: url(../images/pizzero.jpg);
    @include mix-img(center center, cover, no repeat, cover, scroll);
}
.mapa{
    max-width: 60%;
    max-height: 80%;
    top: 10%;
    position: relative;
}
.carta img{
    max-width: 200px;
    &:hover{
    border-radius: 0px;
    box-shadow: none;}
   
}

