/*IMAGENES*/
img {
    max-width: 100%;
    max-height: 100%;
}
.cajitaimg{
    width: 30%;
    height: 30%;
}
.fondo-pizza{
    background-image: url(images/pizza.jpg);
    @extend %imagen;
    
}
.fondo-marmol{
    background-image: url(images/marmol.jpg);
    @extend %imagen;
}
.fondo-tabla{
    background-image: url(images/tabla.jpg);
    background-position: top center;
    background-size: 100%;
    background-repeat: repeat-y;
    object-fit: cover;
    background-attachment: fixed;
}